body {
    font-family: sans-serif;
    background-color: rgb(245, 245, 245);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 576px;
}

.social-button {
    display: block;
    height: 40px;
    width: 40px;
    line-height: 44px;
    background-color: white;
    border-radius: 50%;
}

