body {
    font-family: sans-serif;
    background-color: rgb(245, 245, 245);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 576px;
    border-radius: 0.5rem; /* Needed for box shadow to respect rounded corners */
}

@media (min-width: 576px) {
    .container > header {
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }

    .container > main {
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    main {
        flex: 1;
    }
}

.social-button {
    display: block;
    height: 40px;
    width: 40px;
    line-height: 44px;
    background-color: white;
    border-radius: 50%;
}